<h2>
  {{emp.name}}'s Tasks
</h2>
<md-list>
  <md-list-item *ngFor="let task of emp.tasks">
    <button md-mini-fab (click)="remove(task)">x</button>
    <md-icon [style.color]="task.recurring ? 'inherit' : 'transparent'">autorenew</md-icon>
    <md-icon *ngIf="task.done">check</md-icon>
    <md-icon *ngIf="!task.done">clear</md-icon>
    {{task.text}}
  </md-list-item>
  <md-list-item>
    <button md-mini-fab (click)="add(newTask.value); newTask.value = ''">+</button>
    <span (click)="newItemIsRecurring = !newItemIsRecurring">
      <md-icon [style.color]="newItemIsRecurring ? 'inherit' : 'gray'">autorenew</md-icon>
    </span>
    <md-input-container>
      <input mdInput #newTask type="text" placeholder="New Task" (keyup.enter)="add(newTask.value); newTask.value = ''"/>
    </md-input-container>
  </md-list-item>
</md-list>
